/* Estilos para gráficas de barras horizontales */
.chart-bar {
  transition: width 0.5s ease-in-out;
}

.chart-bar[data-width='0'] {
  width: 0%;
}

.chart-bar[data-width='5'] {
  width: 5%;
}

.chart-bar[data-width='10'] {
  width: 10%;
}

.chart-bar[data-width='15'] {
  width: 15%;
}

.chart-bar[data-width='20'] {
  width: 20%;
}

.chart-bar[data-width='25'] {
  width: 25%;
}

.chart-bar[data-width='30'] {
  width: 30%;
}

.chart-bar[data-width='35'] {
  width: 35%;
}

.chart-bar[data-width='40'] {
  width: 40%;
}

.chart-bar[data-width='45'] {
  width: 45%;
}

.chart-bar[data-width='50'] {
  width: 50%;
}

.chart-bar[data-width='55'] {
  width: 55%;
}

.chart-bar[data-width='60'] {
  width: 60%;
}

.chart-bar[data-width='65'] {
  width: 65%;
}

.chart-bar[data-width='70'] {
  width: 70%;
}

.chart-bar[data-width='75'] {
  width: 75%;
}

.chart-bar[data-width='80'] {
  width: 80%;
}

.chart-bar[data-width='85'] {
  width: 85%;
}

.chart-bar[data-width='90'] {
  width: 90%;
}

.chart-bar[data-width='95'] {
  width: 95%;
}

.chart-bar[data-width='100'] {
  width: 100%;
}
